:root {
    --recuadros: #06abef;
    --primario: #eaeaea;
    --secundario: #323434;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--primario);
    overflow-x: hidden;
}

.inner-sec {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    height: 100%;
    max-height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    border-bottom: thin black 0.2;
    background-color: var(--secundario);
}

aside {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-weight: 450;
    font-size: 20px;
    width: 500px;
    height: 200px;
    padding: 25px 25px;
    line-height: 1.6em;
    justify-content: center;
}

nav {
    display: flex;
    width: 70%;
    height: 50px;
    background-color: rgba(234, 234, 234, 0.75);
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

nav>span {
    display: flex;
    width: 13%;
    height: 115px;
    background-color: darkslategrey;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

nav>a {
    display: flex;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

nav>a:hover {
    background-color: rgba(10, 126, 194, 0.74);
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}


/*Carousel*/

#carousel {
    width: 100%;
    height: 500px;
    margin-top: 25px;
}


/*Comienzo sobre nosotros info*/

#seccion1 {
    width: 100%;
    height: 100vh;
}

#sobre-nosotros {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 85px;
}

#titulo-izq {
    display: flex;
    width: 225px;
    height: 270px;
    border: 16px solid #06abef;
    justify-content: center;
    align-items: center;
}

.titulo-negro {
    font-size: 1.5em;
    font-family: sans-serif;
    line-height: 2em;
    letter-spacing: 0.15em;
    text-align: center;
}

#sobre-nosotros>p {
    font-family: sans-serif;
    line-height: 1.6em;
    font-size: 0.85rem;
    width: 300px;
    height: 270px;
    text-align: justify;
    margin: auto;
}


/*Comienzo Seccion 2 / Trabajos */

#seccion2 {
    width: 100%;
    height: 100vh;
    background-color: var(--secundario);
    color: white;
}

#contenedor-prim {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 55px;
    margin: auto;
}

#cont-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#foto-trabajos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#cont-col>p {
    width: 100%;
    margin-top: 15px;
    text-align: justify;
    font-size: 0.80rem;
    font-family: sans-serif;
    line-height: 1.6em;
}

#cont-abajo {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 55px;
}

#titulo-obras {
    display: flex;
    width: 345px;
    height: 430px;
    border: 16px solid #06abef;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#titulo-obras>h2 {
    font-family: sans-serif;
    line-height: 2em;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    text-align: center;
}

#texto-foto {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
}

#texto-foto>p {
    text-align: justify;
    font-size: 0.80rem;
    font-family: sans-serif;
    line-height: 1.6em;
    padding-left: 20px;
    width: 100%;
    margin: auto;
}

#texto-foto>div {
    padding-top: 15px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Seccion 2 Contenido Derecha*/

#cont-der {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20%;
    height: 100%;
    margin: auto;
    margin-left: 35px;
}

#titulo-der {
    display: flex;
    width: 100%;
    height: 315px;
    border: 16px solid #06abef;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 55px;
}

#titulo-der>h2 {
    font-family: sans-serif;
    line-height: 2em;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    text-align: center;
}

#no-mobile>img {
    width: 100%;
    margin: auto;
}

#cont-der>p {
    text-align: justify;
    width: 100%;
    font-size: 0.8rem;
    font-family: sans-serif;
    line-height: 1.6em;
    margin: 55px auto;
}


/*Seccion 3 Formulario*/

#seccion3 {
    width: 100%;
    height: 100vh;
}

#widget {
    margin: 25px auto;
    width: 100%;
    max-width: 50%;
    height: 150px;
    background-color: var(--secundario);
    color: white;
}

#sec3-container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 75px;
}

#cont-izq {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 30%;
    padding-top: 30px;
    height: 100%;
    margin: auto;
}

#datos {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: space-evenly;
}

#datos>span {
    font-family: sans-serif;
    font-weight: 450;
    font-size: 20px;
    line-height: 1.6em;
}

#contacto-titulo {
    display: flex;
    width: 100%;
    max-width: 55%;
    height: 299px;
    border: 16px solid #06abef;
    justify-content: center;
    align-items: center;
}

#contacto-titulo>h2 {
    font-size: 1.5em;
    font-family: sans-serif;
    line-height: 2em;
    letter-spacing: 0.15em;
    text-align: center;
}


/*FORMULARIO*/

form {
    width: 70%;
    height: 100%;
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    justify-content: flex-start;
    padding: 20px;
    line-height: 1.6rem;
}

.form-control {
    background-color: var(--secundario);
    color: rgba(255, 255, 255, 0.884);
    width: 100%;
    max-width: 1600px;
}

textarea {
    background-color: var(--secundario);
    color: rgba(255, 255, 255, 0.63);
    padding-left: 8px;
    width: 100%;
}

label {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
}

.form-group>span {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Titulos Seccion 2 Mobile*/

.titulo-mobile {
    display: none;
}

.no-desktop {
    display: none;
}


/*MEDIA QUERYS*/

@media only screen and (max-width: 600px) {
    /*NEW CLASSES*/
    .inner-sec {
        width: 100%;
        max-width: 1600px;
        margin: auto;
        height: 100%;
        max-height: 100%;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    .flex {
        display: flex;
    }
    .spacebetween {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    /*FIN NUEVAS CLASES*/
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1600px;
        height: 350px;
        border-bottom: thin black 0.2;
        background-color: var(--secundario);
    }
    /*NAVBAR*/
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(234, 234, 234, 0.75);
        margin-bottom: 20px;
        justify-content: space-evenly;
        align-items: center;
    }
    nav>a {
        /* display: flex;*/
        font-size: 1.2rem;
        font-family: sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    nav>a:hover {
        background-color: rgba(10, 126, 194, 0.74);
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
    }
    nav>span {
        display: flex;
        width: 25%;
        height: 65px;
        background-color: darkslategrey;
        color: whitesmoke;
        justify-content: center;
        align-items: center;
    }
    /*CAROUSEL*/
    #carousel {
        width: 100%;
        height: auto;
    }
    /*SECCION SOBRE NOSOTROS(1)*/
    #seccion1 {
        width: 100%;
        height: 100%;
    }
    #sobre-nosotros {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
        justify-content: space-between;
        margin: auto;
    }
    #titulo-izq {
        display: flex;
        width: 90%;
        height: 4em;
        border: 13px solid #06abef;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    .titulo-negro {
        font-size: 1.5em;
        font-family: sans-serif;
        letter-spacing: 0.15em;
        text-align: center;
    }
    #sobre-nosotros>p {
        font-family: sans-serif;
        line-height: 1.6em;
        font-size: 0.80rem;
        width: 90%;
        height: 100%;
        margin: auto;
        padding-bottom: 20px;
    }
    /*SECCION 2*/
    #seccion2 {
        width: 100%;
        height: auto;
        background-color: var(--secundario);
        color: white;
    }
    #contenedor-prim {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%
    }
    #foto-trabajos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    #cont-col>p {
        width: 90%;
        text-align: justify;
        font-size: 0.80rem;
        font-family: sans-serif;
        line-height: 1.6em;
        margin: auto;
    }
    #foto-trabajos>img {
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
    }
    #titulo-der {
        display: none;
    }
    .titulo-mobile {
        display: flex;
        width: 90%;
        height: 6em;
        border: 13px solid #06abef;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 25px;
    }
    .titulo-mobile>h2 {
        font-size: 1.5em;
        font-family: sans-serif;
        letter-spacing: 0.15em;
        text-align: center;
    }
    #cont-abajo {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 25px;
    }
    #titulo-obras {
        display: flex;
        width: 90%;
        height: 8em;
        border: 13px solid #06abef;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 25px;
    }
    #texto-foto>p {
        font-family: sans-serif;
        text-align: justify;
        line-height: 1.6em;
        font-size: 0.80rem;
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 0px;
        padding-bottom: 20px;
    }
    #texto-foto {
        height: 100%;
        width: 100%;
        margin: auto;
    }
    #texto-foto>div {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin: auto;
    }
    #texto-foto>div>img {
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .no-desktop {
        display: inherit;
    }
    #no-mobile {
        display: none;
    }
    #info-desktop {
        display: none;
    }
    #cont-der>p {
        font-family: sans-serif;
        text-align: justify;
        line-height: 1.6em;
        font-size: 0.80rem;
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #cont-der {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }
    /*SECCION 3 FORMA*/
    #seccion3 {
        width: 100%;
        height: 100vh;
        margin: auto;
    }
    #widget {
        width: 100%;
        max-width: 90%;
        height: 150px;
        background-color: var(--secundario);
        color: white;
        margin-top: 35px;
    }
    #sec3-container {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    #cont-izq {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 35%;
        height: 100%;
        margin: auto;
    }
    #datos {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-left: auto;
        width: 100%;
        max-width: 90%;
        justify-content: space-evenly;
    }
    #datos>span {
        font-family: sans-serif;
        font-weight: 450;
        font-size: 20px;
        line-height: 1.6em;
    }
    #contacto-titulo {
        display: flex;
        width: 100%;
        max-width: 90%;
        height: 299px;
        border: 16px solid #06abef;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }
    #contacto-titulo>h2 {
        font-size: 1.3em;
        font-family: sans-serif;
        line-height: 2em;
        letter-spacing: 0.15em;
        text-align: center;
    }
    form {
        width: 100%;
        max-width: 55%;
        height: 100%;
        margin: auto;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        padding: 20px;
        line-height: 1.6rem;
    }
    .form-control {
        background-color: var(--secundario);
        color: rgba(255, 255, 255, 0.884);
        width: 100%;
        max-width: 1600px;
    }
    textarea {
        background-color: var(--secundario);
        color: rgba(255, 255, 255, 0.63);
        width: 100%;
    }
    label {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding-top: 10px;
    }
    .form-group>span {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}